/* Hide scrollbar but keep scrolling */
.hidescrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hidescrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
